.profile{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid #000;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  transition: 0.3s ease;
}

.profile:hover{
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.35);
}
